<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645049668140-r9r76iekikab47tgf9239ppe9nnl9b0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645049668140-r9r76iekikab47tgf9239ppe9nnl9b0i</string>
	<key>API_KEY</key>
	<string>AIzaSyC6MvOCQHmSvjHz9-UUvXVPir26LcDWAvY</string>
	<key>GCM_SENDER_ID</key>
	<string>645049668140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.unyleya.campanhabrinquedo</string>
	<key>PROJECT_ID</key>
	<string>campanhabrinquedo-70c05</string>
	<key>STORAGE_BUCKET</key>
	<string>campanhabrinquedo-70c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645049668140:ios:1c9b947548889ae4e03789</string>
</dict>
</plist>